@charset "utf-8";
/* CSS Document */

html {
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
h1 {
	font-family:Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
}
.img1 {
	background:url(images/main1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.감귤 {
	background:url(fruit/감귤.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.감말랭이 {
	background:url(fruit/감말랭이.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.단감 {
	background:url(fruit/단감.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.밤 {
	background:url(fruit/밤.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.배 {
	background:url(fruit/배.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.사과 {
	background:url(fruit/사과.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.참다래 {
	background:url(fruit/참다래.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.황금향 {
	background:url(fruit/황금향.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.당근 {
	background:url(vegetable/당근.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.미나리 {
	background:url(vegetable/미나리.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.미니단호박 {
	background:url(vegetable/미니단호박.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.미니파프리카 {
	background:url(vegetable/미니파프리카.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.버터넛호박 {
	background:url(vegetable/버터넛호박.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.부추 {
	background:url(vegetable/부추.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.브로콜리 {
	background:url(vegetable/브로콜리.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.비트 {
	background:url(vegetable/비트.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.알로에 {
	background:url(vegetable/알로에.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.여주 {
	background:url(vegetable/여주.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.오이 {
	background:url(vegetable/오이.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.옥수수 {
	background:url(vegetable/옥수수.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.우엉 {
	background:url(vegetable/우엉.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.적채 {
	background:url(vegetable/적채.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.절임배추 {
	background:url(vegetable/절임배추.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.채소묶음 {
	background:url(vegetable/채소묶음.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.케일 {
	background:url(vegetable/케일.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.콩나물 {
	background:url(vegetable/콩나물.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.파프리카 {
	background:url(vegetable/파프리카.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.호박고구마 {
	background:url(vegetable/호박고구마.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.히카마 {
	background:url(vegetable/히카마.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.대추 {
	background:url(nut/대추.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.은행 {
	background:url(nut/은행.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.햇밤 {
	background:url(nut/햇밤.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.갓 {
	background:url(kimchi/갓.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.깍두기 {
	background:url(kimchi/깍두기.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.총각 {
	background:url(kimchi/총각.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.포기 {
	background:url(kimchi/포기.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.꿀 {
	background:url(food/꿀.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.대추즙 {
	background:url(food/대추즙.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.명이절임 {
	background:url(food/명이절임.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.배즙 {
	background:url(food/배즙.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.사과즙 {
	background:url(food/사과즙.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.수제쿠키 {
	background:url(food/수제쿠키.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.오미자절임 {
	background:url(food/오미자절임.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.유자차 {
	background:url(food/유자차.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.함초소금 {
	background:url(food/함초소금.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.fruit1 {
	background:url(fruit/1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 4000px;
	margin-top: 0px;
}
.main_table {
	height: 30px;
	margin: 0px;
	padding: 0px;
}
.menu_bar {
	border: solid red 1px;
	width: 200px;
}
.main_view {
	width: 100%
	float: left;
	padding: 10px;
}
.main_img {
	width: 100px;
	float: left;
	margin: 10px;
}
.img2 {
	width: 100px;
	height: auto;
	background:url(images/im1.png) no-repeat center center;
	background-size: contain;
}
.img3 {
	background:url(images/ad2.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 10%;
}
.read_more {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: white;
	text-align: center;
	margin: 0 40px 0 40px;
}
.read_more a:link {
	display: inline-block;
	border: solid 5px white;
	padding: 10px 30px 10px 30px;
}
.read_more a:hover {
	background: white;
	color: black;
}

/* ************************************************************ */
.event1 {
	background:url(nut/대추.jpg) no-repeat center center;
	border: solid white 2px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 5%;
	min-height: 100px;
	margin: 0px 10px 0 10px;
}
.event2 {
	background:url(nut/은행.jpg) no-repeat center center;
	border: solid white 2px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 5%;
	min-height: 100px;
	margin: 0px 10px 0 10px;
}
.event3 {
	background:url(nut/햇밤.jpg) no-repeat center center;
	border: solid white 2px;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 5%;
	min-height: 100px;
	margin: 0px 10px 0 10px;
}
.event_main {
	text-align: center;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 15px;
}
.event_main span {
	margin-left: 5x;
	margin-right: 5px;
}

#ev1, #ev2, #ev3, #ev4 {
    height:auto;
    cursor:pointer;
}
.ev1_detail, .ev2_detail, .ev3_detail, .ev4_detail {
    height:0px;
	visibility: hidden;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
	
	margin: 5px 12px 0 12px;
	font-size: 12px;
}
.ev1_detail.open, .ev2_detail.open, .ev3_detail.open, .ev4_detail.open {
	height:60px;
	visibility: visible;
    -webkit-transition:height, 0.3s linear;
    -moz-transition: height, 0.3s linear;
    -ms-transition: height, 0.3s linear;
    -o-transition: height, 0.3s linear;
    transition: height, 0.3s linear;
}
/* ************************************************************ */