@charset "utf-8";
/* CSS Document */


h1 {
	font-family:Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
}
.img1 {
	background:url(images/main1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.감귤 {
	background:url(fruit/감귤.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.감말랭이 {
	background:url(fruit/감말랭이.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.단감 {
	background:url(fruit/단감.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.메론 {
	background:url(fruit/메론.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.미니사과 {
	background:url(fruit/미니사과.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.밤 {
	background:url(fruit/밤.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.배 {
	background:url(fruit/배.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.사과 {
	background:url(fruit/사과.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.참다래 {
	background:url(fruit/참다래.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.토마토 {
	background:url(fruit/토마토.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.황금향 {
	background:url(fruit/황금향.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 8%;
	min-height: 200px;
	margin-top: 0px;
}
.main_table {
	height: 30px;
	margin: 0px;
	padding: 0px;
}
.menu_bar {
	border: solid red 1px;
	width: 200px;
}
.main_view {
	width: 100%
	float: left;
	padding: 10px;
}
.main_img {
	width: 100px;
	float: left;
	margin: 10px;
}
.img2 {
	width: 100px;
	height: auto;
	background:url(images/im1.png) no-repeat center center;
	background-size: contain;
}
.img3 {
	background:url(images/ad2.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 10%;
}
.read_more {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: white;
	text-align: center;
	margin: 0 40px 0 40px;
}
.read_more a:link {
	display: inline-block;
	border: solid 5px white;
	padding: 10px 30px 10px 30px;
}
.read_more a:hover {
	background: white;
	color: black;
}
